name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  lint:
    name: Build and release gem
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Verify tag and version matches
        run: |
          tag_version="$(echo '${{ github.ref }}' | cut -d/ -f3)"
          binary_version="v$(bundle exec flakie --version | cut -d' ' -f2)"

          echo "Tag version: $tag_version"
          echo "Binary version: $binary_version"

          if [ "$binary_version" != "$tag_version" ]; then
            echo "Error: Binary version do not match the tag version."
            exit 1
          fi

      - name: Setup RubyGems credentials
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
        env:
         GEM_HOST_API_KEY: "${{ secrets.RUBYGEMS_AUTH_TOKEN }}"

      - name: Build and release
        run: bundle exec rake release

      - name: Create the release
        uses: softprops/action-gh-release@v2
        with:
          files: pkg/flakie-*.gem
